* {
    margin:0px;
    padding:0px;
}


body {
    background: linear-gradient(100deg, #da5b34, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -2;
}

#barra{
    height: 80px;
    background-color: rgb(6, 39, 58);
    border-radius: 0px 0px 30px 30px;
}
#hola :hover {
    background-color: #20e3b2;
    transition: all 500ms;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 2px 5px 0px 0px #000000;
    transform: scale(1.07);

}
#lis{
    background-color: #e73c7e;
    font-size: 20px;
}

#hola{
    border-radius: 30px 30px 30px 30px;
    background-color: darkcyan;
}